.products{
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    gap: 20px;
    .popular{
        font-family: sans-serif;
        letter-spacing: 3px;
        color: #adb5bd;
        font-size: 14px;
        font-weight: bolder;
    }
    h1{
        font-size: 40px;
    }
    .lorem{
        font-size: 17px;
        color: #5c5d5d;
        text-align: center;
    }
    .cards{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 60px;
        .card{
            width: 400px;
            height: 600px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;
        
          .value{
            display: flex;
            gap: 50px;
        
            p{
                font-weight: bold;
                .fa-star{
                    color: #f89d13;
                    font-size: 20px;
                }
            }
            .heart{
                color: rgb(195, 23, 23);
                font-size: 19px;
                cursor: pointer;
            }
          }
          .button{
            display: flex;
            gap: 10px;
            .cart{
                cursor: pointer;
                background-color: black;
                color: white;
                font-weight: bolder;
                transition: 0.5s;
                width: 100px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover{
                    background-color: #fff;
                    color: black;
                    border: 1px solid black;
                }
            }

            .view{
                cursor: pointer;
                background-color: #fff;
                color: black;
                border: 1px solid black;
                font-weight: bolder;
                transition: 0.5s;
                width: 100px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover{
                    background-color: black;
                    color: white;
                }
            }
          }
        }
    }
    input{
        width: 460px;
        height: 40px;
        border: none;
        border-bottom: 2px solid #f89d13;
        outline: none;
        padding: 10px;
    }
    .sort{
        max-width: 24%;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        gap: 5px;
        align-items: center;
        justify-content: space-between;
        button{
            width: 80px;
            height: 30px;
            border: 1px solid #f89d13;
            cursor: pointer;
            background-color: white;
            color: black;
            font-weight: bold;
            &:hover{
                background-color: #f89d13;
                color: black;
            }
        }
    }
}

@media only screen and (min-width: 300px) and (max-width:850px) {
    .products {
        max-width: 100%;
        height: auto;
        .cards{
            display: grid ;
            grid-template-columns: auto ;
            gap: 60px;
        }
        .sort{
            display: grid;
            grid-template-columns: auto auto auto;
        }

    }
}

@media only screen and (min-width: 850px) and (max-width:1200px) {
    .products {
        max-width: 100%;
        height: auto;
        .cards{
            max-width: 100%;
            display: grid;
            grid-template-columns: auto auto;
            gap: 60px;
        }

    }
}